{%extends 'layout.html'%}
{%from 'helpers/_forms.html' import render_field%}
    {%block container%}
        {{super()}}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <h1 style="text-align: center;">DHCP</h1>
        <div class="card", style="padding: 20px">
            <div class="card-body">
                <h3 class="card-title">Panel de Control</h3>
                <p class="card-text">
                    Administracion de los servicios
                </p>
            </div>
            {%if current_user.is_authenticated %}            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Start Service</th>
                        <th scope="col">Stop Service</th>
                        <th scope="col">Restart Service</th>
                        <th scope="col">Check Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><a href="{{url_for('page.start_servers',type = 1)}}" class="btn btn-primary"><i class="fas fa-play"></i></a></td>
                            <td><a href="{{url_for('page.stop_servers',type = 1)}}" class="btn btn-primary"><i class="fas fa-stop"></i></a></td>
                            <td><a href="{{url_for('page.restart_servers',type = 1)}}" class="btn btn-primary"><i class="fas fa-redo-alt"></i></a></td>
                            <td><a href="{{url_for('page.status_servers',type = 1)}}" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
                        </tr>
                </tbody>
            </table>
            {%endif%}
            </div>

            <div class="card", style="padding: 20px">
                <div class="card-body">
                    <h3 class="card-title">IP's Dinamicas por subred</h3>
                    <p class="card-text">
                        Agregue la configuracion por subred
                    </p>
                    
                    <form action="{{url_for('page.dhcp_subnet')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.ip_subnet, class='form-control',placeholder='Ip de la subred')}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.mask, class='form-control',placeholder='Mascara de subred')}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.range_down, class='form-control',placeholder='Ips desde:')}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.range_up, class='form-control',placeholder='Ips hasta:')}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.ip_router, class='form-control',placeholder='IP de Gateway')}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form1.ip_broadcast, class='form-control',placeholder='IP de Broadcast')}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" name="buttom">Guardar</button>    
                    </form>
                </div>
                
            </div>
            <div class="card", style="padding: 20px">
                <div class="card-body">
                    <h3 class="card-title">IP's staticas por maquina</h3>
                    <p class="card-text">
                        Agregue la configuracion por PC
                    </p>
                    
                    <form action="{{url_for('page.dhcp_static')}}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form2.Nombre, class='form-control',placeholder='Nickname de la PC')}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                {{ render_field(form2.MAC, class='form-control',placeholder='Direccion MAC de la PC')}}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                {{ render_field(form2.ip_static, class='form-control',placeholder='IP a asignar')}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                {{ render_field(form2.ip_router, class='form-control',placeholder='Ip de Gateway')}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                {{ render_field(form2.mask, class='form-control',placeholder='Mascara de subred')}}
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" name="buttom">Guardar</button>    
                    </form>
                </div>
                
            </div>
            <div class="card", style="padding: 20px">
                <div class="card-body">
                    <h3 class="card-title">Configuraciones</h3>
                    <p class="card-text">
                        Seleccione la accion que guste ejecutar
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Configuracion</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">ver/Cargar</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td><i>Actual</i></td>
                                    <td><i>Esta es la configuracion que actualmente corre en el servidor</i></td>
                                    <td><a href="{{url_for('page.dhcp_config',name = 'actual')}}" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
                                </tr>
                                <tr>
                                    <td><i>Desarrollandose</i></td>
                                    <td><i>Esta es la configuracion que actualmente se esta generando por usted,<br> puede verla, eliminarla o cargarla</i></td>
                                    <td>
                                        <a href="{{url_for('page.dhcp_config',name = 'guardada')}}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="{{url_for('page.dhcp_config',name = 'eliminar')}}" class="btn btn-primary"><i class="far fa-trash-alt"></i></a>
                                        <a href="{{url_for('page.dhcp_config',name = 'cargar')}}" class="btn btn-primary"><i class="fas fa-play"></i></a>
                                    </td>
                                </tr>
                                
                        </tbody>
                    </table>
                    
                </div>
                
            </div>
            <div class="card", style="padding: 20px">
                {%if current_user.is_authenticated %}
                    <a href="{{url_for('page.servers')}}" class="btn btn-primary">Regresar</a>
                {%endif%}
            </div>
            
            

    {%endblock%}
